.bg
{ 
  /* A háttér mérete, színe a Farkas Erik által készített Figma dizájntervből vannak, ami pontosan megadja ezeket az adatokat */  
  width: 325px;
  height: 700px;
  left: 1209px;
  top: 322px;
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  border-radius: 39px; 
  margin: auto;
} 

.screen
{
  padding-top: 6rem;
  margin: 0.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  height: 20%;
}

.screen-small
{ 
  background-color: transparent;
  color: #909090;
  float: right;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: right;
  border: none;
  width: 60%;
}   
.screen-big 
{
  text-align: right;
  border: none;
  background-color: transparent;
  color:#FFFFFF;
  float: right;
  width: 80%;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
}  

.btn 
{
  /* a Figma modell adatai alapján */
  color: #29A8FF;
  font-size: 2rem;
  width: 56px;
  height: 54px;
  background: #303136;
  border-radius: 16px;            
}
.btn-lightblue
{
  border-color:#005cb27c;
  color: #B2DAFF;
  font-size: 2rem;
  background: #005cb27c;
  border-radius: 16px;  
  width: 56px;
  height: 54px;
}
.btn-zero
{
  color: #29A8FF;
  font-size: 2rem;
  background: #303136;
  border-radius: 16px;  
  width: 128px;
  height: 54px;  
}
.btn-short
{
  color: #29A8FF;
  font-size: 1.5rem;
  position: relative;
  width: 56px;
  height: 34px;
  background: #303136;
  border-radius: 24px;
}
.btn-result
{
  border-color: #1991FF;
  color: #B2DAFF;
  font-size: 2rem;
  background: #1991FF;
  border-radius: 16px;  
  width: 56px;
  height: 94px;
}
