.bg
{ 
  /* A háttér mérete, színe a Farkas Erik által készített Figma dizájntervből vannak, ami pontosan megadja ezeket az adatokat */  
  width: 325px;
  height: 700px;
  left: 1209px;
  top: 322px;
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  border-radius: 39px; 
} 
.btn 
{
  /* a Figma modell adatai alapján */
  color: #29A8FF;
  font-size: 2rem;
  width: 56px;
  height: 54px;
  background: #303136;
  border-radius: 16px;            
}
.btn-lightblue
{
  border: none;
  color: #B2DAFF;
  font-size: 2rem;
  background: #005cb27c;
  border-radius: 16px;  
  width: 56px;
  height: 54px;
}
