.bg
{ 
  /* A háttér mérete, színe a Farkas Erik által készített Figma dizájntervből vannak, ami pontosan megadja ezeket az adatokat */  
  width: 325px;
  height: 700px;
  left: 1209px;
  top: 322px;
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  border-radius: 39px; 
} 
